#wrap #content{
	margin-top: 80px;
}

#wrap #content .left-block{
	width: 700px;
	float: left;
	border-right: 1px solid black;
}

#wrap #content .left-block .hotel-info{
	width: 700px;
	height: 230px;
}

#wrap #content .left-block .hotel-info img{
	width: 400px;
	height: 200px;
	float: left;
}

#wrap #content .left-block .hotel-info .info{
	float: left;
	height: 200px;
	width: 299px;
	padding-left: 30px;
}

#wrap #content .left-block .hotel-info .info h2{
	margin-top: 0px;
}

#wrap #content .left-block .about-hotel{
	
}

#wrap #content .right-block{
	width: 440px;
	height: 80px;
	float: left;
}

#wrap #content .right-block .single-comment{
	padding-left: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}